#chargement{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10001;
}

#barre_chargement{
	width: 100%;
    border: 3px solid grey;
}

#barre_en_cours{
	position: absolute;
    bottom: 0;
    left: 0;
    border: 5px solid white;
    transform: translate(0px, 2px);
    width: 0%;
}

#titre_chargement{
	position: relative;
    left: 0;
    width: 100%;
}

#container_chargement{
	position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

#percentage_chargement{
	position: absolute;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    left: 0;
    width: 100%;
}

#phrase_rigolote_chargement{
	position: absolute;
    left: 0;
    width: 100%;
    margin-top: 40px;
    font-style: italic;
}