#container_classement {
    width: 100%;
    position: relative;
}


.ligne{
    margin:0;
    text-align: center;
    color: white;
    height: fit-content;
}



.ligne:nth-child(even){
   background-color: #cecece;
   color : black;
}
.head{
    background-color: #fff;
    padding: 7px;
}

.ligne.you{
    font-weight: bold;
    background-color: #ff5660;
    color: white;
}

.ligne.noClassement{
    background-color: transparent;
    text-align: center;
    color: white
}

.ligne.noClassement a{
    text-decoration: underline;
    color: #ff5660
}

tr:first-child > td:first-child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#couronne > img{
    width: 40px;
}

.ligne.profil{
    background-color: #21243a;
    height: 30px;
    align-items: center;
}


.ligne.profil:first-child{
    line-height: 27px;
}

.ligne.profil:nth-child(even){
   background-color: #cecece;
   color : black;
}

.ligne.profil:last-child > .date{
    border-bottom-left-radius: 30px;
}

#one > .date{
     border-bottom-left-radius: 30px;
     display: table-cell;
     width: 70%;
}

.ligne.profil:last-child > .second{
    border-bottom-right-radius: 30px;
}

#one > .second{
    border-bottom-right-radius: 30px;
}


.ligne.profil.you:last-child > td{
    border-radius:0;
}