#container_classement {
    width: 100%;
    position: relative;
}

.ligne {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ligne div {
    border: solid 0.05em lightgrey;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ligne p {
    margin: 5px 0;
}

.ligne1 p {
    font-weight: bold;
}

.ligne1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.container_classement {
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 30.25px;
    left: 0;
}