
#img_cadenas.shake {
  animation: shakeImg 0.82s ease-in-out;
}

#form_cadenas.shake{
  animation: shakeForm 0.82s ease-in-out;
}


.close_objet{
	position:absolute; 
	width: 100%; 
	height: 100vh; 
	z-index: 9; 
	background: transparent;
    box-shadow: inset 0px 1px 1000px 200px rgba(0,0,0,0.4); 
    top:0; 
    cursor: pointer;
}

#reps > p, #reps span {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 7px;

}

#def_rep{
    position: absolute;
    top: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


@media only screen and (max-width: 1300px){
    #def_rep{
        font-size: 13px;
        height: 48%;
    }

    #reps > p, #reps span {
      font-size : 13px;
    }
}













@keyframes shakeImg {
  10%, 90% {
    transform: translate(-1%, 0%);
  }
  
  20%, 80% {
    transform: translate(1%, 0%);
  }

  30%, 50%, 70% {
    transform: translate(-4%, 0%);
  }

  40%, 60% {
    transform: translate(4%, 0%);
  }
}

@keyframes shakeForm {
  10%, 90% {
    transform: translate(-51%, 0);
  }

  20%, 80% {
    transform: translate(-49%, 0);
  }

  30%, 50%, 70% {
    transform: translate(-54%, 0);
  }

  40%, 60% {
    transform: translate(-46%, 0);
  }
}