#affichageInventaire{
	display: flex;
    flex-direction: column;
    z-index: 50;
    position: fixed;
    top: 1vh;
    right: 1vw;
}

#poubelle{
	display: flex;
    flex-direction: column;
    z-index: 51;
    position: fixed;
    top: 1vh;
    right: 13vw;
    width: 120px;
}


#affichageInventaire > .slot{
	border: 1px solid black;
    border-radius: 30px;
    background-color: transparent;
    width: 15vh;
    height: 15vh;
    box-shadow: inset 0 0 20px 2px #565656;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#affichageInventaire > .slot > .itemInventaire{
	width: 45%;
}