#fondjeu{	
    background: url(../IMG/couloir.png);	
    width: 100%;	
    height: 100vh;	
    background-size: cover;	
    position: absolute;

}	

	

#font{	
    position: absolute;	
    width: 100%;	
    height: 100%;	
    z-index: 1;	

  }	