.jeux_container {
    margin: 10% 10% 10% 10%;
    padding:  5%;
    border-radius: 45px;
    background-color: white;
}

.accueil_container h1 {
    font-weight: bold;
    font-size: xx-large;
}

.jeux_container a {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}


