.container {
    margin: 30px 10% 0% 10%;
    padding: 3% 4%;
    border-radius: 30px;
    background-color: white;
}

.container h1 {
    font-weight: bold;
    font-size: xx-large;
}

.container a {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
