* {
    font-family: Arial;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    background-color: transparent;
}

p {
    background-color: transparent;
}

a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color:black;
}

h5 {
    background-color: transparent;
}

label {
    background-color: transparent;
}

textarea{
    color: black; 
    resize: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*
.box {
     box-shadow: 3px 3px 8px 0px #b5b5b5;
}

.box:hover { 
    box-shadow: 3px 3px 16px 0px #b5b5b5;
}*/

.degrade_halloween{
    background-color: #FF5660;
}

::-webkit-scrollbar {									/* Scrollbars */
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track-piece {						/* Fond */
    display: none;
}

/* Barre  */
::-webkit-scrollbar-thumb {								
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px #cccccc, inset 0 0 0 6px #cccccc;
}
::-webkit-scrollbar-thumb:hover {						
    -webkit-box-shadow: inset 0 0 0 1px #999999, inset 0 0 0 6px #999999;
} 


.show_objet:hover{
     border : 1px solid white;
}

.titre {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: #FF5660;
}

/* Bar et bouton */
.bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right,
    rgba(243, 68, 68, 0) 0%,
    rgba(243, 68, 68, 0) 3%,
    #FF5660 40%,
    #FF5660 60%,
    rgba(243, 68, 68, 0) 97%,
    rgba(243, 68, 68, 0) 100%); }

.barlogo { position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right,
    rgba(243, 68, 68, 0) 0%,
    rgba(243, 68, 68, 0) 3%,
    #a6d81c 40%,
    #068cce 60%,
    rgba(243, 68, 68, 0) 97%,
    rgba(243, 68, 68, 0) 100%)
}
.masque{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 165px;
    height: 5px;
    background-color: white;
}

.register {
    position: relative;
    display: block;
    width: 120px;
    height: 22px;
    margin: 0 auto;
    text-align: center;
    line-height: 22px;
    border-radius: 100px !important;
    background-color: #FF5660;
    color: #423e2f;
    text-shadow: 0px 1px 0 rgba(247, 50, 86, 0.39);
    font-weight: 600 !important;
    font-size: 13px;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    transition: all .3s;
    box-shadow: 0 2px 15px 0 rgba(243,210,68,0.4);
    cursor: pointer;
}

.boxbas{
    position: relative;
    margin-top: 22px;
    text-align: center
}


.textegris {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #717171;
}

.fond {
    position: fixed; height: 100vh; width: 100vw; z-index: 1;
}

input{
    outline: none;
}