
  form {
    width: 600px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  fieldset {
    background: white;
    border: 5px solid #FF5660;
  }
  
  legend {
    padding: 10px;
    background:#FF5660;
    color:white;
  }
  
  #otherValue
  {
    display: none;
  }
 #other:checked ~ #otherValue
  {
    display: inline-block;
  }

  #oui
  {
    display: none;
  }
  
  #idfondees:checked ~ #oui
  {
    display: inline-block;
  }
 
  #non
  {
    display: none;
  }
  
  #ouioui
  {
    display: none;
  }
  #idPasfondees:checked ~ #non
  {
    display: inline-block;
  }

  input + label {
    color: #ccc;
    font-style: italic;
  } 
  input[type=checkbox]:checked + label {
    color: #FF5660;
    font-style: normal;
  } 
