* {
    font-family: Arial;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    background-color: transparent;
}

p {
    background-color: transparent;
}

a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color:black;
}

h5 {
    background-color: transparent;
}

label {
    background-color: transparent;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.box {
     box-shadow: 3px 3px 8px 0px #b5b5b5;
}
.box:hover { 
    box-shadow: 3px 3px 16px 0px #b5b5b5;
}

.degrade_halloween{
    background-color: #FF5660;
}

::-webkit-scrollbar {									/* Scrollbars */
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track-piece {						/* Fond */
    display: none;
}

/* Barre  */
::-webkit-scrollbar-thumb {								
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px #cccccc, inset 0 0 0 6px #cccccc;
}
::-webkit-scrollbar-thumb:hover {						
    -webkit-box-shadow: inset 0 0 0 1px #999999, inset 0 0 0 6px #999999;
} 


.show_objet:hover{
     border : 1px solid white;
}

@media only screen and (max-width: 900px){
    #def_rep{
        font-size: small;
    }
}