html {
    font-family: sans-serif;
  }
  
  form {
    width: 600px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  fieldset {
    background: white;
    border: 5px solid #FF5660;
  }
  
  legend {
    padding: 10px;
    background:#FF5660;
    color:white;
  }
  
  #otherValue
  {
    display: none;
  }
  
  #other:checked ~ #otherValue
  {
    display: inline-block;
  }