<h1>Conditions Générales d'Utilisation</h1>
Dernière mise à jour : 13 avril 2019

<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>CGU</title>
</head>
<body>
    <h1>Conditions Générales d'Utilisation</h1>
    <p>Dernière mise à jour : 12 janvier 2021<p>
        <br>
    <h2>1. Attribution d’une Licence limitée d’utilisation du Service.</h2>
    <p>Sous réserve des dispositions énoncées dans le présent Contrat et de votre respect, à tout moment, du présent Contrat, LCDC vous accorde par les présentes une licence révocable, non transférable et non exclusive d’accès au Service pour votre usage universitaire et personnel et non commercial, en y accédant via un navigateur Web ou un client de Jeu autorisé, non modifié.
    </p>
    <h2>2. Limitations supplémentaires de la licence.</h2>
    <p>2.1 Pas d'Utilisation de code de triche</p>
    <p>2.2 Pas d'Utilisation à but commer</p>
    <P>2.5 Vous ne laisserez une quelconque partie tierce utiliser votre compte sur le Service ou dans le Jeu</P>

    <h2>3. Conditions.</h2>
    <p>Etre invité par les créateurs, ou être Etudiants ou Enseignants dans une universitée</p>

    <h2>6. Résiliation du Service.</h2>
    <p>En cas de manquement aux conditions contenues dans le présent Contrat, LCDC vous délivrera un avertissement faisant mention de votre manquement. En cas de tout manquement grave au présent Contrat et/ou aux Chartes de jeu, LCDL sera en droit de résilier le Service avec effet immédiat sans avertissement préalable.<p>

        <h1>Mentions légales</h1>
        <h2>Pésentation du site</h2>
        
        <h2>Réalisation</h2>
        Réalisé par Santiago MARTINEZ, Adrien SEGURA, Samuel ROBINET, William DONNETTE et sous la direction de Antoine CHOLLET
        <h2>Propriété intellectuelle</h2>
    </body>
</html>